@main(Html("Latch your application")) {
    <h2>Latch module for Play Framework</h2>
    
    <p>
        Playtch is a module for integrating Latch in your own Play Framework projects. It has been developed by <a href="http://cqa.es/download">cuaQea Team</a>.
    </p>
    <p>
            To test this example, you have to download <a href="https://latch.elevenpaths.com/www/download.html" target="_blank">Latch by ElevenPaths</a> in your smartphone. <a href="@routes.SignUp.blank">Sign up</a> a new user in this website and pair your account.
    </p>
    <p>
        <a class="btn btn-success" href="@routes.SignUp.blank">View sample »</a>
    </p>

    <h2>How can I use playtch in my project?</h2>

    <p>
        We have developed a Play Framework plugin that is available for free in our github repository
    </p>

        <center>
            <a class="btn btn-lg btn-warning" href="https://github.com/cuaqea/playtch-latch4play" target="_blank">Download Playtch 1.0 »</a>
        </center>
    
    <h2>How does Latch work?</h2>
    
    <p>
        Latch is a service that lets you add an extra level of security to your online services. To help prevent any unauthorized use, Latch gives you the control to switch off your accounts with a single tap when you’re not using them.
    </p>
    
    <p>
        <a class="btn btn-default" href="http://latch.elevenpaths.com" target="_blank">More info »</a>
    </p>
}